<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaf.xadmin.mapper.auth.ResourceMapper">

    <sql id="RESOURCE_COLS">
        r.id, r.name, r.desc, r.path, r.type, r.create_time, r.update_time
    </sql>

    <sql id="ROLE_COLS">
        ro.id, ro.name, ro.desc, ro.create_time, ro.update_time
    </sql>


    <insert id="insertResourceRole">
      INSERT INTO resource_role VALUES (#{resourceId}, #{roleId})
    </insert>

    <delete id="deleteResourceRole">
        DELETE FROM resource_role WHERE resource_id = #{resourceId} AND role_id = #{roleId}
    </delete>


    <delete id="deleteResourceRoleDeps">
        DELETE FROM resource_role
        WHERE resource_id = #{id}
    </delete>


    <select id="selectResourceRoles" resultType="com.leaf.xadmin.entity.auth.Role">
      SELECT <include refid="ROLE_COLS" />
      FROM resource r
      RIGHT JOIN resource_role rr ON r.id = rr.resource_id
      LEFT JOIN role ro ON rr.role_id = ro.id
      WHERE r.id = #{resourceId}
    </select>


    <select id="selectResourceRolesByPath" resultType="com.leaf.xadmin.entity.auth.Role">
        SELECT <include refid="ROLE_COLS" />
        FROM resource r
        RIGHT JOIN resource_role rr ON r.id = rr.resource_id
        LEFT JOIN role ro ON rr.role_id = ro.id
        WHERE r.path = #{path}
    </select>

</mapper>